<html>
	<head>
		<title>{{.RoomId}}</title>
	</head>
	<body>
		<h1>{{.User.Email}}</h1>
        <div id="shareText">Share the URL to invite friends!</div>
        <div id="chatLog"></div>
		<input id="chatBox">
        <div class="error"></div>
        <input type="hidden" id="token" value="{{.Token}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="/_ah/channel/jsapi"></script>
        <script>
            var roomId = '{{.RoomId}}';
            var email = '{{.User.Email}}';
        </script>
        <script src="/js/chat.js"></script>
	</body>
</html>
